/* Reset de márgenes y relleno en el cuerpo de la página */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para la sección de aterrizaje */
.landing-section {
  position: relative;
  height: 100vh;
  background: url("image.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Estilos para el título en la sección de aterrizaje */
.landing-section h1 {
  font-size: 2.5rem;
}

/* Estilos para el botón de desplazamiento en la sección de aterrizaje */
.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.scroll-down .arrow {
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll-down .arrow::before {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
}

/* Estilos para el texto del botón de desplazamiento */
.scroll-down .text {
  font-size: 1rem;
}

.scroll-down:hover {
  opacity: 0.8;
}

/* Estilos generales para el contenido */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #130650;
}

h2 {
  font-size: 1.5rem; /* Tamaño de fuente responsive */
  color: #130650;
}

p {
  font-size: 1rem; /* Tamaño de fuente responsive */
  color: #000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1rem; /* Tamaño de fuente responsive */
  color: #000;
}

.project {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.project h3 {
  font-size: 1rem; /* Tamaño de fuente responsive */
  color: #000;
}

.project img {
  max-width: 100%;
  margin-bottom: 10px;
}

/* Estilos para los íconos de redes sociales */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #003366;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0; /* Cambia esto a -40px para ocultar la barra al principio */
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px;
  transition: bottom 0.3s ease; /* Agrega una transición suave */
}


.social-links img {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  align-self: center;
}

.social-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

.social-links-hidden {
  display: none;
}

.social-links img:hover {
  filter: brightness(0) invert(1);
}

#skills {
  display: flex;
  justify-content: space-between; /* Distribuir elementos a los extremos */
}

#soft-skills,
#hard-skills {
  width: 45%; /* Ajustar el ancho de cada contenedor según sea necesario */
}
.bullet-list {
  list-style-type: disc; /* Cambiar el tipo de viñeta aquí (por ejemplo: circle, square) */
  margin-left: 20px; /* Ajustar el espacio entre la viñeta y el texto */
}

